.wrapper {
  margin: 0px auto;
  max-width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
  font-family: "verdana";
  border-style: solid;
  border-width: 5px;
  border-color: #663300;
  background-image: url("https://i.pinimg.com/originals/49/51/c2/4951c2c5f3c88772d318d36e78154de6.jpg");
  background-size: cover;  
  background-repeat: repeat-y;
  
}

h1 {
  color:  #a94c42;
  font-family: 'Cinzel', serif;
}
h1 > a { /* Hlavní nadpis */
  font-family: 'Cinzel Decorative', cursive;
  color: #a94c42;
  text-decoration: none;
  font-size: 1OO%;
}

header {
  background-image: url("http://www.lowerheykennels.com/resources/dog_banner.jpg");
  max-width: 80%;
  weight: 100%;
  
  background-repeat: no-repeat;  
  color: #330000;
  font-family: "verdana";
  text-align: center;
}

.header-menu {
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
}


footer {
  border-top: solid;
  clear: both;
  color: #000;
  font-family: "Comic Sans MS";
  text-align: center;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  color: #330000;
  font-style: oblique;
  font-family: "verdana";
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  color: #330000;
  font-style: oblique;
  font-family: "verdana";
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
