.wrapper {
  margin: 50px auto;
  max-width: 800px;
  padding: 30px;
  background-image: url("https://st2.depositphotos.com/1106005/8685/i/950/depositphotos_86854464-stock-photo-green-and-white-dog-paw.jpg");
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
  border-right: solid;
  border-left: solid;
  background-image: url("https://cdn3.seekwallpapers.com/uploads/picture/956/386/386956/thumbs_picture-386956.jpg");
  color: #9dc0e7;
  text-align: right;
  text-decoration: underline;
  text-transform: capitalize; 
}

footer {
  border-top: solid;
  clear: both;
  background-color: #160000;
  text-color: #fd0100;
  background-image: url("https://st2.depositphotos.com/1106005/8685/i/950/depositphotos_86854464-stock-photo-green-and-white-dog-paw.jpg")
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  background-image: url("https://st2.depositphotos.com/1106005/8685/i/950/depositphotos_86854464-stock-photo-green-and-white-dog-paw.jpg");
  text-color: #fd0100;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  background-image: url("https://st2.depositphotos.com/1106005/8685/i/950/depositphotos_86854464-stock-photo-green-and-white-dog-paw.jpg");
  text-color: #fd0100;
  text-transform: capitalize;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
